
<section class="markdown" [style.visibility]="hasLoaded ? 'visible' : 'hidden'">

  <markdown *ngFor="let docUri of docURIs" ngPreserveWhitespaces [src]="'/assets/docs/' + docUri" (load)="onLoad($event)" (error)="onError($event)"></markdown>

</section>

<section class="error" *ngIf="hasError && hasLoaded">

  <p>An error occurred whilst loading the docs.</p>

</section>

<section class="controls">

  <ng-content select="[section=controls]"></ng-content>

</section>

<section [style.visibility]="hasLoaded && !noExample ? 'visible' : 'hidden'" class="example">

  <ng-content></ng-content>

</section>
