:host {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;

  .controls {
    &:empty {
      display: none;
    }

    margin: 20px 0;

    ::ng-deep .control-group {
      display: flex;
      flex-direction: column;
      max-width: 560px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  .example {
    display: grid;
    resize: both;
    overflow: auto;
    max-width: 100%;
    min-height: 400px;
    background-color: #424242;
    border: solid 1px rgba(255,255,255,.12);
    padding: 10px;
  }

  markdown {
    display: block;

    & + markdown {
      margin-top: 50px;
    }
  }

  a {
    color: white;
  }
}
