:host {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;

  --controls-width: 250px;

  @media(max-width: 600px) {
    --controls-width: 100%;
  }

  .controls {

    &:empty {
      display: none;
    }

    margin: 20px 0;

    ::ng-deep .control-group {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      label {
        margin-bottom: 5px;
      }

      input, select {
        max-width: var(--controls-width);
        margin-bottom: 5px;
      }

      [type="checkbox"],
      [type="radio"] {
        margin-right: 7px;
      }
    }
  }

  .example {
    display: grid;
    resize: both;
    overflow: auto;
    max-width: 100%;
    min-height: 400px;
    background-color: #424242;
    border: solid 1px rgba(255,255,255,.12);
    padding: 10px;
  }

  markdown {
    display: block;

    & + markdown {
      margin-top: 50px;
    }

    ::ng-deep {

      p + h2,
      pre + h2 {
        margin-top: 50px;
      }

      a {
        color: white;
      }

      li {
        margin-bottom: 10px;
      }

      li > ul {
        margin-top: 10px;
      }

      /*p {
        font-size: 16px;
      }*/
    }
  }
}
