
<section class="markdown details" [style.display]="hasLoaded && detailsURI ? 'block' : 'none'">

  <markdown [src]="'/assets/docs/' + detailsURI"></markdown>

</section>

<div class="docs" [style.display]="hasLoaded ? 'block' : 'none'">

  <button class="github-link" *ngIf="githubLink" (click)="onGithubLinkSelect()">
    <icon-component [name]="'github'"></icon-component>
  </button>

  <section class="markdown">

    <markdown *ngFor="let docUri of docURIs" [src]="'/assets/docs/' + docUri" (load)="onLoad($event)" (error)="onError($event)"></markdown>

  </section>

  <section class="error" *ngIf="hasError">

    <p>An error occurred whilst loading the docs.</p>

  </section>

  <section class="controls">

    <ng-content select="[section=controls]"></ng-content>

  </section>

  <section class="example">

    <ng-content></ng-content>

  </section>

</div>
