
<page-container [docURI]="'/components/product/lesson-plan/grid/README.md'"
  [detailsURI]="'/routeComponents/components/product/lesson-plan/grid/README.md'"
  [githubLink]="'components/product/lesson-plan/grid'">

  <div section="controls">

    <div class="control-group">
      <label>Header: </label>
      <input type="text" value="{{header}}" (input)="onHeaderChange($event)"/>
    </div>

    <div class="control-group">
      <label>Title: </label>
      <input type="text" value="{{title}}" (input)="onTitleChange($event)"/>
    </div>

    <div class="control-group">

      <div>
        <input type="checkbox" id="hero" name="hero" [disabled]="showMyLibraryCard" (change)="onShowHeroChangeHandler($event)"/>
        <label for="hero">Show hero</label>
      </div>

    </div>

    <div class="control-group">

      <div>
        <input type="checkbox" id="fancy" name="fancy" [disabled]="showMyLibraryCard" (change)="onFancyLayoutChangeHandler($event)"/>
        <label for="fancy">Five card layout (<code>max-width</code> set to 1000px)</label>
      </div>

    </div>

    <div class="control-group">

      <div>
        <input type="checkbox" id="card" name="card" (change)="onCardChangeHandler($event)"/>
        <label for="card">Use my library lesson plan card</label>
      </div>

    </div>

  </div>

  <div class="grid-wrapper" [ngClass]="{'grey-bg': showMyLibraryCard}">

    <lesson-plan-grid class="grid"
      [dataProvider]="dataProvider"
      [header]="header"
      [title]="title"
      [showHero]="showHero && !showMyLibraryCard"
      [fiveCardLayout]="fancyLayout && !showMyLibraryCard"
      [itemTemplate]="showMyLibraryCard ? itemTemplate : undefined"
      (lessonPlanSelected)="onLessonPlanSelect($event)">

      <ng-template let-item="item" #itemTemplate>

        <my-library-lesson-plan-card
          [dataProvider]="item"
          [menu]="menu">

          <mat-menu #menu="matMenu"
                    [overlapTrigger]="false"
                    [xPosition]="'before'">

            <button mat-menu-item
                    [disableRipple]="true"
                    (click)="onDuplicateClick(item)">Duplicate</button>

            <button mat-menu-item class="destructive"
                    disableRipple="true"
                    (click)="onDeleteClick(item)">Delete</button>

          </mat-menu>

        </my-library-lesson-plan-card>

      </ng-template>

    </lesson-plan-grid>

  </div>

</page-container>
