
:host {

    .control-group {
        display: flex;
        flex-direction: column;

        label {
            font-size: 1.2rem;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .component-examples {
        width: 100%;
        max-width: 42rem;
    }
}
