@import "src/app/styles/styles";


:host {
    display: block;
    color: $palette-white;

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    ::ng-deep a {
        color: $palette-white;
        text-decoration: underline;
    }

    .lesson-plan-info {
        --LG: 800px;
        --MD: 640px;
        --lesson-plan-info-top-section-flex-direction: column;
        --lesson-plan-info-top-section-child-max-width: 100%;
        --lesson-plan-info-top-section-child-horizontal-padding: 0;
        --lesson-plan-info-top-section-first-child-margin-bottom: #{$gap-xxl};

        --lesson-plan-info-bottom-section-flex-direction: column;
        --lesson-plan-info-bottom-section-child-max-width: 100%;
        --lesson-plan-info-bottom-section-child-horizontal-padding: 0;

        &.LG {
            --lesson-plan-info-bottom-section-flex-direction: row;
            --lesson-plan-info-bottom-section-child-max-width: 50%;
            --lesson-plan-info-bottom-section-child-horizontal-padding: 10px;
        }

        &.MD {
            --lesson-plan-info-top-section-flex-direction: row;
            --lesson-plan-info-top-section-child-max-width: 50%;
            --lesson-plan-info-top-section-child-horizontal-padding: 10px;
            --lesson-plan-info-top-section-first-child-margin-bottom: 0;
        }

        dl, dt, dd {
            margin: 0;
            padding: 0;
            border: 0;
        }

        .section {
            display: flex;

            > * {
                flex: 1 1 0%;
            }

            dt {
                font-weight: 600;
                margin-bottom: $gap-l;
            }

            &.top {
                flex-direction: var(--lesson-plan-info-top-section-flex-direction);

                > * {
                    max-width: var(--lesson-plan-info-top-section-child-max-width);

                    &:first-child:not(:only-child) {
                        padding-right: var(--lesson-plan-info-top-section-child-horizontal-padding);
                        margin-bottom: var(--lesson-plan-info-top-section-first-child-margin-bottom);
                    }

                    &:last-child:not(:only-child) {
                        padding-left: var(--lesson-plan-info-top-section-child-horizontal-padding);
                    }
                }
            }

            &.bottom {
                flex-direction: var(--lesson-plan-info-bottom-section-flex-direction);

                > * {
                    max-width: var(--lesson-plan-info-bottom-section-child-max-width);
                    margin-top: $gap-xxl;

                    &:first-child:not(:only-child) {
                        padding-right: var(--lesson-plan-info-bottom-section-child-horizontal-padding);
                    }

                    &:last-child:not(:only-child) {
                        padding-left: var(--lesson-plan-info-bottom-section-child-horizontal-padding);
                    }
                }
            }
        }
    }
}
