:host {
  --responsive-example-background-color: red;
  display: block;
  width:100%;

  .container {
    --XS: 200px;
    --SM: 400px;
    --MD: 600px;
    --LG: 800px;
    --XL: 1000px;
    --XXL: 1200px;

    display: block;
    width:100%;
    height: 100%;
    min-height: 400px;
    background-color: var(--responsive-example-background-color);

    &.XS {
      --responsive-example-background-color: yellow;
    }

    &.SM {
      --responsive-example-background-color: pink;
    }

    &.MD {
      --responsive-example-background-color: green;
    }

    &.LG {
      --responsive-example-background-color: orange;
    }

    &.XL {
      --responsive-example-background-color: purple;
    }

    &.XXL {
      --responsive-example-background-color: blue;
    }
  }
}
