
:host {

  display: block;

    .image {

        &.max-content {
            width: max-content;
            height: max-content;
        }

        &.fixed {
            width: 300px;
            height: 100px;
        }
    }
}



