@import "src/app/styles/styles";

:host {
    display: block;
    width: 100%;

    .lesson-plan-header {
        --page-header-top-slot-display: flex;
        --page-header-top-slot-margin-bottom: 60px;

        .content {
            display: flex;
            flex-direction: column;
            width: 100%;

            .content-container {
                display: flex;
                flex-direction: column;
                margin-top: 52px;

                .vocabulary {
                    margin-top: 40px;
                }
            }
        }
    }
}
