
<section class="lesson-plan-header">

    <page-header
        [title]="title"
        [fallbackColor]="fallbackColor"
        [overlayColor]="headerColor"
        [imageUrl]="thumbnailAssetPath"
        [imageSize]="'2048w'">

        <ng-container class="page-header-top-slot">

            <ng-content select=".lesson-plan-header-top-slot"></ng-content>

        </ng-container>

        <ng-container class="page-header-content-slot">

            <div class="content">

                <ng-content select=".lesson-plan-header-meta-data-slot"></ng-content>

                <div class="content-container" *ngIf="!hideContent">

                    <lesson-plan-info
                        [dataProvider]="lessonPlan">
                    </lesson-plan-info>

                    <lesson-plan-vocabulary *ngIf="vocabulary?.length"
                        class="vocabulary"
                        [dataProvider]="vocabulary">
                    </lesson-plan-vocabulary>

                </div>

            </div>

        </ng-container>

    </page-header>

</section>
