
<ng-template let-item="item" #defaultItem>

    <lesson-plan-card
        [dataProvider]="item">
    </lesson-plan-card>

</ng-template>


<section class="lesson-plan-grid"
        responsiveContainer
        [ngClass]="{'five-card-layout': showFiveCardLayout}">

    <div *ngIf="header" class="header">{{header}}</div>

    <div *ngIf="title" class="title">{{title}}</div>

    <div *ngIf="heroData" class="hero">

        <lesson-plan-hero
            [dataProvider]="heroData"
            (click)="onLessonPlanSelect(heroData)">
        </lesson-plan-hero>

    </div>

    <grid-layout *ngIf="data && data.length" class="grid"
        [dataProvider]="data">

        <ng-template let-item="item">

            <button class="grid-item"
                    (click)="onLessonPlanSelect(item)">

                <ng-container
                    [ngTemplateOutletContext]="{item: item}"
                    [ngTemplateOutlet]="itemTemplate ? itemTemplate: defaultItem">
                </ng-container>

            </button>

        </ng-template>

    </grid-layout>

</section>
