:host {
  display: block;

  .side-menu-tree {
    height: 100%;
  }

  .side-menu-tree-invisible {
    display: none;
  }

  .mat-button {
    width: 100%;
    text-align: left;
    border-radius: 0;

    &.active {
      color: #ff5c8d;
    }
  }

  .mat-nested-tree-node div[role=group] {
    padding-left: 20px;
  }

  div[role=group] > .mat-tree-node {
    padding-left: 20px;
  }
}
