<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="side-menu-tree">

  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <div mat-list-item [attr.aria-label]="node.name" (click)="nodeSelected(node)">
      {{node.name}}
    </div>
  </mat-tree-node>

  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <div class="mat-tree-node">
      <div mat-list-item matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.name">
        {{node.name}}
      </div>
    </div>

    <div [class.side-menu-tree-invisible]="!treeControl.isExpanded(node)"
         role="group">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
