<div class="lesson-plan-card">

  <div class="top">

    <image-component class="image"
        [url]="backgroundImageUrl"
        [fallbackSeed]="id"
        [size]="'800w'">
    </image-component>

    <div class="tags">

      <div *ngFor="let skill of skills"
           class="tag">
        {{skill}}
      </div>

      <div *ngIf="cefr" class="tag">{{cefr}}</div>

    </div>

  </div>

  <div class="bottom">

    <div class="title">{{title}}</div>

    <div *ngIf="description" class="description">{{description}}</div>

  </div>

</div>

