@import "src/app/styles/styles";


:host {
    display: block;
    color: $palette-white;

    .lesson-plan-credits {
        display: flex;
        align-items: center;

        dl, dt, dd {
            margin: 0;
            padding: 0;
            border: 0;
            line-height: 16px;
        }

        .logo {
            flex: 0 0 auto;
            width: 34px;
            height: 34px;
            background-image: url(https://lh4.googleusercontent.com/-N19MvKBuW8A/AAAAAAAAAAI/AAAAAAAAABs/cueULsj2OYU/photo.jpg);
            border-radius: 50%;
            background-size: cover;
            background-position: center;
            overflow: hidden;
        }

        .info {
            margin-left: 10px;
            max-height: 43px;

            span:first-child {
                font-weight: 600;
            }
        }
    }
}


