
<page-container [docURI]="'/components/product/lesson-plan/header/README.md'"
  [detailsURI]="'/routeComponents/components/product/lesson-plan/header/README.md'"
  [githubLink]="'components/product/lesson-plan/header'">

  <div section="controls">

    <div class="control-group">

      <label>dataProvider:</label>

      <json-editor
        [value]="editorData"
        (onChange)="onDataChangeHandler($event)">
      </json-editor>

    </div>

  </div>

  <lesson-plan-header
    [dataProvider]="lessonPlan">
  </lesson-plan-header>

</page-container>
