
<section class="lesson-plan-vocabulary" [ngClass]="{'expanded': isExpanded}">

    <div class="bar">

        <div class="title-container">
            <div class="title">Vocabulary for this lesson </div>
            <div class="count">({{ count }} word senses)</div>
        </div>

        <button (click)="onExpandClick()">
            <icon-component [name]="'down-chevron'"></icon-component>
        </button>

    </div>

    <div class="vocab-list-container" [@openClose]="isExpanded">

        <div class="vocab-list">

            <grid-layout class="grid" [dataProvider]="vocabulary">

                <ng-template let-item="item">

                    <div class="word-sense">

                        <div class="title">
                            {{ item.headForm }}
                            <span class="type">({{ item.type }})</span>
                        </div>

                        <p class="definition">{{ item.definition }}</p>

                    </div>

                </ng-template>

            </grid-layout>

        </div>

    </div>

</section>
