@import "src/app/styles/styles";


:host {
    display: block;
    width: 100%;

    .lesson-plan-vocabulary {
        --lesson-plan-vocabulary-button-transform: rotateX(0);
        --lesson-plan-vocabulary-vocab-list-max-height: 0;
        --lesson-plan-vocabulary-vocab-list-padding: 0 #{$gap-xl};
        --lesson-plan-vocabulary-vocab-list-border-width: 0;

        background-color: $palette-white;
        color: $palette-slate-900;
        border-radius: 2px;

        &.expanded {
            --lesson-plan-vocabulary-button-transform: rotateX(180deg);
            --lesson-plan-vocabulary-vocab-list-max-height: auto;
            --lesson-plan-vocabulary-vocab-list-padding: #{$gap-xl};
            --lesson-plan-vocabulary-vocab-list-border-width: 2px;
        }

        .bar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 60px;
            padding: 0 $gap-xl;

            .title-container {
                display: flex;
                flex-wrap: wrap;
                margin-right: $gap-xl;
                font-size: 16px;

                .title {
                    font-weight: 700;
                    margin-right: 4px;
                }
            }

            button {
                @include button_reset;

                fill: $palette-slate-900;

                transform: var(--lesson-plan-vocabulary-button-transform);
                transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
            }
        }

        .vocab-list {
            padding: var(--lesson-plan-vocabulary-vocab-list-padding);
            height: var(--lesson-plan-vocabulary-vocab-list-max-height);
            border-top: var(--lesson-plan-vocabulary-vocab-list-border-width) solid $palette-slate-20;
            overflow: hidden;
            transition: 0.3s cubic-bezier(0.35, 0, 0.25, 1);

            .grid {
                --grid-vertical-gap: 20px;
                --grid-horizontal-gap: 20px;
                --grid-min-column-width: 200px;

                overflow: auto;

                .word-sense {
                    font-size: 16px;

                    .title {
                        font-weight: 700;
                    }

                    .type {
                        font-weight: 400;
                        color: $palette-grey-500;
                    }
                }
            }
        }
    }
}
