@import "src/app/styles/styles";

:host {
    display: flex;
    flex-direction: column;
    color: $palette-white;

    .published-info {
        padding-bottom: 10px;

        span {
            font-weight: 700;
        }
    }
}
